.home-container {
  background-color: #121212; 
  color: #f0f0f0; 
  padding: 20px; 
  font-family: 'Arial', sans-serif; 
}

.main-title {
  font-size: 3.5em; 
  text-align: center;
  margin-bottom: 10px; 
  color: #f0f0f0; 
}

.main-title .highlight {
  background: linear-gradient(to right, #4f46e5, #312e81); /* Indigo 600 a Indigo 900 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  text-align: center;
  font-size: 1.5em; 
  color: #ccc;
}

.search-bar {
  display: block;
  margin: 0 auto 2rem;
  width: 100%;
  max-width: 500px; 
  padding: 12px 20px; 
  border-radius: 25px; 
  background-color: #333; 
  color: #f0f0f0; 
  border: 1px solid #4f46e5; /* Indigo 600 */
  font-size: 1.1em; 
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.6); 
}

.search-bar::placeholder {
  color: #aaa;
}

.categories-section { 
  margin-top: 50px; 
  padding: 20px;
  background-color: #0f172a; 
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(49, 46, 129, 0.5); /* sombra índigo suave */
}

.categories-section h2 { 
  font-size: 2em; 
  color: #7f9cf5; /* Indigo 600 */
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(79, 70, 229, 0.3); /* Indigo 600 al 30% */
  padding-bottom: 10px;
}

.products-highlight-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(49, 46, 129, 0.5);
}

.products-highlight-section h2 {
    font-size: 2em;
    color: #4f46e5; /* Indigo 600 */
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(79, 70, 229, 0.3);
    padding-bottom: 10px;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
    justify-items: center;
}

.bg-gray-800 { 
    background-color: #2c2c2c; 
}

.p-4 { padding: 1rem; }
.rounded-lg { border-radius: 0.5rem; }
.shadow-md { box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.18); }
.text-lg { font-size: 1.125rem; }
.font-semibold { font-weight: 600; }
.text-sm { font-size: 0.875rem; }
.text-gray-400 { color: #9ca3af; }
.mt-2 { margin-top: 0.5rem; }
/* Cambiado de verde a indigo */
.text-indigo-400 { color: #818cf8; } 
.font-bold { font-weight: bold; }